third_party/*
third_party/
CMakeCache.txt
CMakeDoxyfile.in
CMakeDoxygenDefaults.cmake
CMakeFiles/
CTestTestfile.cmake
DartConfiguration.tcl
Makefile
Testing/
bin/
cmake_install.cmake
demo/CMakeFiles/
demo/CTestTestfile.cmake
demo/Makefile
demo/audio/
demo/cmake_install.cmake
demo/sdl/
docs/
docs/html/
docs/latex/
lib/
soundmixer_lib/CMakeFiles/
soundmixer_lib/CTestTestfile.cmake
soundmixer_lib/Doxyfile
soundmixer_lib/Makefile
soundmixer_lib/cmake_install.cmake
soundmixer_lib/test/CMakeFiles/
soundmixer_lib/test/CTestTestfile.cmake
soundmixer_lib/test/Makefile
soundmixer_lib/test/cmake_install.cmake
